
/* search-support */
.navbarSearch{
  background: #ffffff;
  width: 100%;
  border-bottom: 1px solid #d0d1d2;
  .navbar-top{
    align-items: center;
    display: none;
  }
  .btn-location{
    text-align: right;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    vertical-align: super;
    small{
      max-width: 200px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
  .navbarSearchContent{
    max-width: 1400px;
    height: 80px;    
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  
    .dropdownLocation{
      text-align: right;
      white-space: nowrap;
        a{
          font-size: 14px;
          text-decoration: none;
          vertical-align: super;
        }
        .dropdown-menu{
          top: 15px !important;
          input{
            border-radius: 50px;
          }
        }
      }

      

    .content-search{ 
      position: relative;
      width: 100%;
      .icon-input{
        position: relative;
        z-index: 23;
        ::placeholder {
          color: var(--grey-blue) !important;
          font-size: 15px;
          font-weight: 400;
        }
        svg{
          position: absolute;
          color: var(--grey-blue) !important;
          left: 13px;
          top: 20px;
        }
        input{
          background: #e8e9e9;
          width: 100%;
          height: 56px;
          padding: 10px 25px;
          padding-left: 40px;
          border-radius: 26px;
          border: 1px solid #e6e6e6;
          &.results{
            border-radius: 10px 10px 0px 0px!important;
          }
          &:focus{
            box-shadow: none;
          }
          &::placeholder, ::-ms-input-placeholder {
            color: var(--charcoal-grey);
          }
        }
      }

      // button{
      //   height: 70px;
      //   width: 159px;
      //   border-radius: 35px;
      //   box-shadow: 0 13px 18px 0 rgba(104, 129, 146, 0.09);
      //   border: solid 2px #ffffff;
      //   font-size: 18px;
      //   font-weight: bold;
      
      // }



      .suggestions{
        background-color: white;
        border: 1px solid #ededed;
        border-radius: 10px;
        z-index: 24;
        position: absolute; 
        overflow: hidden;
        width: 100%;
        top: 60px;
        .title{
            color: var(--charcoal-grey);
            font-size: 14px;
            font-weight: 600;
            margin-top: 16px;
            margin-left: 16px;
            margin-bottom: 25px;
            display: block;
            text-transform: uppercase;
        }
        .item{
          padding: 10px 25px;
          cursor: pointer;
          border-bottom: 1px #ededed solid;
          display: flex;
          &:last-child{
            border-bottom: none;
          }
          &:hover{
            background-color: #e4e9ed;
          }
          .suggestionsName{ 
            color: var(--charcoal-grey);
            font-size: 14px;
            font-weight: 500;
            margin-left: 10px;
            margin-bottom: 5px;
            display: block;
            // text-transform: capitalize;
            
          }
          &:hover .suggestionsName{
            color: var(--brand-blue);
          }
        }
        
      }

      // .hideSuggestions{
      //   display: none;
      // }
      .overlaySuggestions{
        width: 100%;
        height: 100vh;
        background: transparent;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 22;
        // &.hideOverlay{
        //   display: none;
        // }
      }


    }
    
    // @media(max-width: 768px){
    //     margin-top: 0px;
    //     position: relative;
    // }
    
    @media(max-width: 550px){
      // .search-support-form{
      //   left: 50%;
      //   top: 50%;
      //   -webkit-transform: translate(-50%,-50%);
      //   -ms-transform: translate(-50%,-50%);
      //   transform: translate(-50%,-50%);
      //   .content-search-support input{
      //     width: 100%;
      //     margin-right: 0px;
      //     margin-bottom: 22px;
      //   } 
      // }
    
      // .overlay{
      //   display: block;
      // }
    
      // .bg-search-support img{
      //   display: block;
      //   width: auto;
      //   position: absolute;
      //   left: 60%;
      //   top: 50%;
      //   -webkit-transform: translate(-50%,-50%);
      //   -ms-transform: translate(-50%,-50%);
      //   transform: translate(-50%,-50%);
      //   height: 480px;
      // }
    
      // .content-search-support{
      //   padding: 0px 33px;
      //   .d-flex{
      //     flex-direction: column;
      //   }
      // }
    }
    }

    @media(max-width: 1400px){
      padding: 0px 20px;
    }
    @media(max-width: 762px){
      .navbar-top{
        display: flex;
        margin-top: 10px;
      }
      .navbarSearchContent{
        height: 56px;
        a{
          display: none;
        }
        .content-search{
          svg {
            top: 13px !important;
          }
          input{
            height: 44px !important;
          }
        }
      }
    }
  }

 .modal-searchLocation{
  .modal-header {
    background-color: var(--brand-blue);
    color: white;
    position: relative;
    display: table;
    width: 100%;
}
  .btn-close-modal{
    text-align: center;
    display: block;
    button{
        background-color: var(--brand-blue);
        padding: 10px 15px;
        width: 150px;
        color: white;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        &:focus {
          outline: none;
      }
    }
  }
 }


  
  
