.results{
  .title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--charcoal-grey);
    }
    .card{
        width: calc(25% - 20px);
        margin: 10px;
        border: none;
        .crop{
          width: 100%;
          height: 183px;
          overflow: hidden;
          position: relative;
          border-radius: 4px;
          border: 1px solid rgba(104,129,146,.12);
          img{
            position:absolute;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
            width: 112%;
          }
          .price{
            position: absolute;
            bottom: 12px;
            right: 12px;
            padding: 5px 13px;
            border-radius: 20.1px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: var(--charcoal-grey);
            text-align: center;
          }
        }
        .name{
          font-size: 14px;
          font-weight: 600;
          color: var(--charcoal-grey);
          margin: 10px;
          line-height: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        

    }
        
}
