


.wp-posts{
  .box{
    margin-bottom: 55px;
    line-height: 2;
    // &:not(:first-child) h4{
    //   padding-top: 55px;
    // }
    h1{
      font-size: 22px;
      font-weight: 700;
      color: var(--brand-blue);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    h2{
      font-size: 18px;
      font-weight: 700;
      color: var(--brand-blue);
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    h4{
      font-size: 20px;
      font-weight: 700;
      color: var(--brand-blue);
      text-transform: uppercase;
      margin-bottom: 20px;
      
    }
  
    p, ul{
      font-size: 16px;
      font-weight: 400;
      color: var(--grey-blue);
      text-align: justify;
    }
    
    b{
      font-weight: 800;
      font-size: 16px;
      text-transform: uppercase;
      color: var(--charcoal-grey);
    }

    .item b{
      cursor: pointer;
      &:hover{
        color: var(--brand-blue);
      }
    }

    .item.mb5{
      margin-bottom: 50px;
      b{
        cursor: default;
        &:hover{
          color: var(--charcoal-grey);
        }
      }
    }

    a{
      color: var(--brand-blue);
      cursor: pointer;
    }
    ul.decimal{
      list-style: decimal;
    }
    ol, ul {
      font-size: 14px;
      font-weight: 400;
      color: var(--grey-blue);
      text-align: justify;
  }
  
  }
 

}
