

/* menuLinks */
section.menuLinks{
  display: flex;
  margin-top: 58px;
  margin-left: 103px;
  margin-right: 103px;
  justify-content: space-between;
  .logo{
    width: 195px;
  }
  .links{
    width: 100%;
    padding: 0 115px;
    display: flex;
    justify-content: space-between;
  }
  .icons{
    display: flex;
    justify-content: space-between;
    color: #8ca1ac;
    .circle{
      margin-right: 12px;
      border-radius: 100%;
      width: 48px;
      height: 48px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      background: #fff;
      background-clip: padding-box;
      border: solid 5px transparent;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(to right, rgba(157, 178, 192, 0.32), rgba(157, 178, 192, 0.32));
      }
      &:nth-child(2){
        a{
        height: 25px;
        }
        i{
          font-size: 25px;
        }
      }
      &:last-child{
        margin-right: 0px;
      }
      i{
        font-size: 18px;
      } 
      a {
        height: 20px;
      }
      &:hover{
        i{
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
        }
        &:nth-child(1){
          i{ 
            background: linear-gradient( #6388d8, #4c6db4, #33508a);
          }
          &:before {
            background: linear-gradient(to right, #6388d8, #4c6db4, #33508a);
          }
        }
        &:nth-child(2){
          i{ 
            background: linear-gradient(#f6af5a, #d94869, #5c6cb3);
          }
          &:before {
            background: linear-gradient(to right, #f6af5a, #d94869, #5c6cb3);
          }
        }
        &:nth-child(3){
          i{ 
            background: linear-gradient( #81c5f3, #2099e6, #81c5f3);
          }
          &:before {
            background: linear-gradient(to right, #81c5f3, #2099e6, #81c5f3);
          }
        }
        &:nth-child(4){
          i{ 
            background: linear-gradient( #db2824, #a11610, #770801);
          }
          &:before {
            background: linear-gradient(to right, #db2824, #a11610, #770801);
          }
        }
        &:nth-child(5){
          i{ 
            background: linear-gradient( #0294d0, #0084c2, #0177b5);
          }
          &:before {
            background: linear-gradient(to right, #0294d0, #0084c2, #0177b5);
          }
        }
      }
    }
  
  }
  ul.menu{
    list-style-type: none;
    padding-inline-start: 0px;
    li{
      a{
      font-size: 15px;
      font-weight: 400;
      line-height: 2.67;
      letter-spacing: normal;
      cursor: pointer;
      color: var(--grey-blue);
      }
      &:hover {
        color: var(--grey-blue);
        text-decoration: underline;
      }
      &.title-menu:hover{
          color: var(--charcoal-grey);
          text-decoration: none;
      }
    }
  }
  .accordion{
    display: none;
    .card{
      border-radius: 0px;
      border-left: none;
      border-right: none;
      background-color: rgba(216, 216, 216, 0.13);
      & > div{
        margin: 0 33px;
      }
      .title-menu{
        margin: 15px 33px !important;
        cursor: pointer;
      }
      i{
        float: right;
        color: var(--grey-blue);
        -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
      }
      .content-collapse{
        max-height:0;
        transition: all ease 0.5s;
        overflow: hidden;
      }
  
      &.open{
        .title-menu i{
          transform: rotate(-180deg);
          -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
      
        .content-collapse{
          max-height: 180px; 
          transition: all ease 0.5s
        }
      }
    }
  }

  
  .title-menu{
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    margin-bottom: 10px;
    letter-spacing: 1.14px;
    color: var(--charcoal-grey);
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
  }
  .covid-banner{
    display: none;
    text-align: center;
    width: 100%;
    border: 1px solid rgba(104, 129, 146, 0.23);
    padding: 10px;

  }
}


@media(max-width: 1300px){
  section.menuLinks{
    flex-direction: column;
    margin-top: 58px;
    margin-left:  0px;
    margin-right: 0px;
    .logo{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 27.9px;
    }
    .icons {
      margin-top: 28px;
      margin-bottom: 25px;
      justify-content: center;
    }
    .links{
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
  }
}

@media(max-width: 768px){
  section.menuLinks {
    .covid-banner{
      display: block;
    }
  }
}

@media(max-width: 610px){
  section.menuLinks {
    .covid-banner{
      border-top: none;
      border-left: none;
      border-right: none;
      height: 61px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo{
      margin-left: 34.1px;
    }
    .links{
      padding: 0;
      display: none;
    }
    .accordion{
      display: block;
    }
  }
}