
/* Why lend me it*/

section.why{
  margin-top: 29px;
  .subtitle{
    padding: 13.5px 0;
  }
  p.text-why{
    margin: 0;
    padding: 0;
    /* max-width: 964px; */
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--grey-blue);
  }
  .cards-why{
    display: flex;
    /* margin-top: 36px; */
    justify-content: center;
    .card{
      max-width: 250px;
      min-width: 250px;
      height: 260px;
      border-radius: 4px;
      box-shadow: 0 13px 18px 0 rgba(104, 129, 146, 0.09);
      border: solid 1px rgba(104, 129, 146, 0.12);
      background-color: #ffffff;
      padding-left: 36px;
      padding-right: 32px;
      margin-right: 22px;
      margin-top: 36px;
      &:last-child{
        margin-right: 0;
      }
      .card-icon{
        width: 33px;
        height: 33px;
        margin-top: 33px;
        margin-bottom: 34px;
      }
      .card-name{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        color: var(--charcoal-grey);
      }
      .card-description{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        color: var(--grey-blue);
      }
    }
  }

 
@media(max-width: 1145px){
  .cards-why{
    flex-wrap: wrap;
    .card:nth-child(2){
      margin-right: 0;
    }
    .card{
      max-width: 307px;
      min-width: 307px;
    }
  }
}
@media(max-width: 992px){
  .cards-why{
    flex: 2 0 40%;
    .card{
      margin-right: 5px;
    }
  }
  
  .cards-why .card:nth-child(3), 
  .cards-why .card:nth-child(4){
    margin-top: 5px;
  }
}

@media(max-width: 690px){
  .cards-why .card{
    max-width: 45%;
    min-width: 45%;
  }
}

@media(max-width: 575px){
  margin-top: 46px;
  .cards-why {
    .card{
      max-width: 100%;
      min-width: 307px;
      flex: 1 0 100%;
      margin-right: 0px;
      margin-top: 10px;
  
  
      line-height: 1;
      padding-left: 26px;
      padding-right: 28px;
      height: auto;
      .card-icon {
        margin-top: 24px;
        margin-bottom: 16px;
      }
      .card-name {
        margin-bottom: 8px;
      }
      .card-description{
        padding-bottom: 26px;
      }
      .card:first-child{
        margin-top: 21px;
      }
    
    }
} 
  .cards-why .card:nth-child(3), 
  .cards-why .card:nth-child(4){
    margin-top: 10px;
  }
}

@media(max-width: 400px){
  .cards-why .card{
    max-width: 307px;
  }
}

}  