.no-page{
    height: calc(70vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    h1{
        font-size: 100px;
        color: var(--brand-blue)
    }
    h2{
        font-size: 100px;
        color: var(--grey-blue);
    }
    h5{
        color: var(--grey-blue);
    }
}
