.back-results{
  margin: 21px 0px 21px 0px;
  display: block;
}

hr{
  margin-top: 13px;
  margin-bottom: 13px;
  border-top: 1px solid #ededed;
}

.item-detail{
  display: flex;
  .item-image{
    display: flex;
    padding-bottom: 21px;
    .image-sm{
      width: 65px;
      margin-right: 12px;
      img{
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 4px;
        // &.active{
        //   border: solid 2px var(--brand-blue);
        // }
        // &:hover{
        //   border: solid 2px var(--brand-blue);
        // }
      }
    }
    .image-bg{
      width: 388px;
    }
  }
  .bg-hide{
    display: none;
  }
  .sm-hide{
    display: block;
  }
  .item-info{
    padding-left: 21px;
    .item-name{
      font-size: 18px;
      font-weight: bold;
      color: var(--charcoal-grey);
    }
    .item-description{
      font-size: 14px;
      font-weight: 400;
      color: var(--grey-blue);
    }
    .item-content-col{
      display: flex;
      .item-col {
        padding-right: 10px;
        width: 30%;
        span{
          font-size: 14px;
          font-weight: 400;
          color: var(--grey-blue);
        }
        b{
          font-size: 14px;
          font-weight: bold;
          color: var(--charcoal-grey);
        }
        *{
          display: block;
        }
      }
    }

    .item-row{
      padding-right: 10px;
     
      span{
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: var(--grey-blue);
      }
      b{
        font-size: 14px;
        font-weight: bold;
        display: block;
        color: var(--charcoal-grey);
      }
      
    }
    
  }
  .download-app{
    margin-top: 22px;
    img{
      height: 45px;
    }
  }

}

@media(max-width: 992px){
  .item-detail{
    display: block;
    .item-info{
      padding-left: 0;
    }
  }
}

@media(max-width: 520px){
  .item-detail{
    .item-col{
      width: 50% !important;
    }
    .bg-hide{
      display: block !important;
    }
    .sm-hide{
      display: none !important;
    }
    .download-app{
      
    justify-content: center;
      img{
        height: 30px;
      }
    }
  }
}

// @media(max-width: 450px){
//   .item-detail{
//     .item-col{
//       width: 50% !important;
//     }
//   }
// }