

.content-terms{
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
  line-height: 22px;
  background-color: white;
  section{
    margin-bottom: 20px;
    .logo{
      margin-bottom: 40px;
    }
    .faq h4{
      margin-bottom: 0px;
    }
    .wp-list {
      position: -webkit-sticky !important;
      position: sticky !important;
      top: 0;       
      a{
        color: var(--brand-blue);
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        display: block;
      }
    }

    #htmlContainer{
      h1{
        font-size: 22px;
        font-weight: 700;
        color: var(--brand-blue);
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      h2{
        font-size: 18px;
        font-weight: 700;
        color: var(--brand-blue);
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      h3{
        font-size: 16px;
        font-weight: 700;
        color: var(--brand-blue);
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      h4{
        font-size: 14px;
        font-weight: 700;
        color: var(--charcoal-grey);
        margin-bottom: 20px;
      }
      p, ul{
        font-size: 14px;
        font-weight: 400;
        color: var(--grey-blue);
        text-align: justify;
      }
      
      b{
        font-weight: 800;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--charcoal-grey);
      }
      a{
        color: var(--brand-blue);
        cursor: pointer;
      }
      ul.decimal{
        list-style: decimal;
      }
      ol, ul {
        font-size: 14px;
        font-weight: 400;
        color: var(--grey-blue);
        text-align: justify;
    }
    
      
      .close-popup, .link.icon-only, .lnd-version{
        display: none;
      }
      [data-page='faq']{
        p:nth-child(odd){
          margin-bottom: 0px;
        }
      }
      [data-page='termsAndConditions']{
        ol {
          padding-inline-start: 0px;
          counter-reset:item;
          & > li{
            font-size: 14px;
            font-weight: 400;
            color: var(--grey-blue);
            text-align: justify;
            margin-bottom: 15px;
            list-style-type:none;
            counter-increment:item;
    
            &:before {
              display:inline-block;
              padding-right:0.5em;
              font-weight: 600;
              text-align:right;
              content:counter(item) ".";
              color: black;
            }
            & > ol {
              counter-reset:item2;
              padding-inline-start: 0px;
              & > li {
                list-style-type:none;
                counter-increment:item2;
                &:before {
                  content:counter(item) "." counter(item2);
                }
                & > ol {
                  padding-inline-start: 25px;
                  & > li {
                    list-style: upper-alpha;
                    text-indent: 0em;
                  }
                  & > li:before {
                    display: none;
                  }
                }
                
              }
            }
    
          } 
        }
      }

      [data-page='eulam']{
        p{
          margin-bottom: 0;
        }
        p.p-mbottom-top {
          margin-bottom: 1rem;
        }
      }

      [data-page='about']{
        h3{
          display: none;
        }
      }
    }
   
  }
  
}

@media(max-width: 1200px){
    .content-terms{
      width: 100%;
      padding: 0 20px;
    }
}

@media(max-width: 768px){
  .content-terms{
    line-height: 26px !important;
    h4, p, b , ul{
      font-size: 16px !important;
    }
  }

}
