
.navbar-terms{
  border-bottom: solid 1px rgba(140, 161, 172, .23);
  padding: 15.5px 0;
  margin-bottom: 23px;
}

.navbar-terms a{
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-blue);
  cursor: pointer;
}

.navbar-terms a i{

  color:#9db2c0;
  margin-right: 6.5px;
}
