
/* updates-email */

.updates-email{
  position: relative;
  .updates-email-img{
    height: 479px;
    overflow: hidden;
    position: relative;
    @media(min-width: 1441px){
      img{
          width: 100%;
        }
      }
  }
  .overlay{
    display: none;
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    object-fit: contain;
    min-height: 479px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .updates-email-form{
    position: absolute;
      left: 0;
      top: 181px;
      width: 100%;
      .content-updates-email{
        max-width: 657px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 53px;
        p{
          font-size: 24px;
          font-weight: 400;
          color: #ffffff;
          margin-bottom: 36px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: normal;
          color: #ffffff;
        }
        input{
          width: 477px;
          height: 70px;
          border-radius: 35px;
          padding: 10px 25px;
          margin-right: 21px;
          border: 0;
        }
        input::placeholder {
          color: var(--charcoal-grey);
        }
        input:-ms-input-placeholder {
          color: var(--charcoal-grey);
        }
        input::-ms-input-placeholder {
          color: var(--charcoal-grey);
        }

        button{
          height: 70px;
          width: 159px;
          border-radius: 35px;
          box-shadow: 0 13px 18px 0 rgba(104, 129, 146, 0.09);
          border: solid 2px #ffffff;
          font-size: 18px;
          font-weight: bold;
          background: transparent;
          color: white;
          &:hover{
            background: white;
            color: black;
          }
          &:focus {
            outline: none !important;
            box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
        }
        }
        .mce-responses {
          color: white;
          padding: 10px;
          text-align: center;
          font-weight: 400;
          a{
            color: var(--brand-blue);
            display: block;
          }
         
        }
        // .msg-alert{
        //   color: white;
        //   padding: 10px;
        //   text-align: center;
        //   font-weight: 400;
        //   display: block;
        // }
      }
  }




@media(max-width: 768px){
    margin-top: 0px;
    position: relative;
}

@media(max-width: 550px){
  .updates-email-form{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    .content-updates-email input{
      width: 100%;
      margin-right: 0px;
      margin-bottom: 22px;
    } 
  }
 
  .overlay{
    display: block;
  }

  .updates-email-img img{
    display: block;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .content-updates-email{
    padding: 0px 33px;
    .d-flex{
      flex-direction: column;
    }
  }
}
} 
