/* HEADER */
header{
  position: relative;
  z-index: 21;
  overflow: hidden;
  .lmi-slider{
    height: 512px;
    overflow: hidden;
    background-color: #fff;
    .swiper-container{
      z-index: 0;
    }
    .img-sm{
      width: auto;
      height: 812px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    // .img-sm{
    //   position: relative;
    //   -webkit-transform: translate(-50%,0%);
    //   -ms-transform: translate(-50%, 0%);
    //   transform: translate(-50%, 0%);
    // }

    .img-md.right{
      right: 0;
      position: absolute;
    }

    .img-sm.right{
      -webkit-transform: translate(-65%,0%);
      -ms-transform: translate(-65%, 0%);
      transform: translate(-65%, 0%);
    }
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    object-fit: contain;
    min-height: 512px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .gradient{
    display: none;
    position: absolute;
    left: 0;
    top: 443px;
    width: 100%;
    object-fit: contain;
    height: 369px;
    background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 40%);
  }
  .caption {
    position: absolute;
    left: 0;
    top: 215px;
    width: 100%;
    .content-caption {
      margin-left: 176px;
      margin-right: 176px;
      h1 {
        color: #fff;
        font-size: 47px;
        font-weight: 600;
        line-height: 0.96;
        letter-spacing: -1.14px;
      }
    }
  }
}


@media(min-width: 1441px){
  header .lmi-slider img{
    width: 100%;
    height: auto;
  }
}

@media(max-width: 1440px){
  header .lmi-slider img{
    width: 1440px;
    height: 512px;
  }
}

@media(max-width: 992px){
  header .content-caption{
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media(max-width: 768px){
  header{
    .lmi-slider {
      height: 100vh;
      max-height: 812px;
      position: relative;
      .img-sm{
        display: block;
        position: relative;
        -webkit-transform: translate(-50%,0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
      }
      .img-md {
        display: none;
      }
    }
    .overlay{
      height: 100vh;
      max-height: 812px;
    }

    .gradient{
      display: block;
    }

    .caption{
      top: 60vh;
      .content-caption{
        margin-left: 28px;
        margin-right: 28px;
        h1{
          font-size: 35px;
        }
      }
    }
    @media only screen and (orientation: landscape) {
      .caption{
        top: 40vh;
      }
      .gradient{
        height: 50vh;
      }
    }
  }
}

// download buttons

.download-app{
  display: flex;
  margin-top: 27px;
}
.download-app a img{
  height: 52.7px;
}

.download-app a:first-child {
  margin-right: 15.8px;
}

@media(max-width: 425px){
  .download-app a img{
    height: 44.7px;
  }
} 

.img-sm{
  display: none;
}

