/* NAVBAR */
.navbar{
  z-index: 22;
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0px !important;
  .navbar-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 18px;
    .navbar-toggler {
      border: none;
      margin: 0;
      padding: 0;
      outline: none;
      .line-menu{
        width: 18px;
        height: 2px;
        background-color: white;
        display: block;
        margin: 6px;
      }
      &:focus {
        outline: none;
    }
    }
   
    a.nav-item{
      color: white !important;
      margin-left: 19px;
      padding-left: 0;
      padding-right: 0;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
   }
   a.navbar-brand{
    padding: 0px;
  }
  }
}

@media(max-width: 992px){
  .navbar .navbar-container{
    margin-left: 37.1px;
    margin-right: 37.1px;
    margin-top: 28.1px;
  }
}

@media(max-width: 767px){
  .navbar .navbar-container {
    .navbar-brand img{
      height: 38.9px;
    }
    a.nav-item {
      margin-left: 50px;
    }
    .navbar-collapse {
      position: absolute;
      width: 100%;
      text-align: left;
      top: 80px;
      left: 0px;
      max-height:0;
      transition: all ease 0.5s;
      overflow: hidden;
    }
    .navbar-collapse.show {
      max-height: 160px; 
      transition: all ease 0.5s
    }
  } 
}
.howto-page, .faqs{
  .navbar .navbar-container .navbar-collapse.show{
    max-height: 90px !important;
  }
}