.btn-covid19{
  background-color: var(--brand-blue);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 15px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  border: none;
  padding-right: 80px;
  font-size: 16px;
  opacity: 1;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1);
  &:focus {
    outline: none;
  }
  img{
    margin-right: 10px;
  }
  &.smallButton{
    // transition: all .5s ease-in-out;
    padding: 20px;
    text-align: center;
    img{
      margin: 0;
    }
    span{
      display: none;
    }
  }

  &.hideButton{
    bottom: -70px;
    opacity: 0;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.modal-covid19{
  max-width: 800px !important;
  .modal-content{
    border-radius: 10px;
    overflow: hidden;

    .modal-header{
      background-color: var(--brand-blue);
      color: white;
      position: relative;
      height: 80px;
      display: table;
      width: 100%;
      h5.modal-title{
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        width: calc(100% - 25px);
        padding-left: 70px;
        display: table-cell;
        vertical-align: bottom;
      }
      img{
        position: absolute;
        top: 20px;
        left: 55px;
      }
      .close{
        background-color: white;
        border-radius: 100%;
        width: 28px;
        height: 28px;
        font-size: 35px;
        font-weight: 100;
        line-height: 0;
        color: var(--brand-blue);
        text-shadow: none;
        opacity: 1;
        padding: 0;
        margin: 0;
        margin-top: 15px;
      }
    }
    .modal-body{
      padding: 0px 60px;
      .banner{
        margin-bottom: 50px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        img{
          width: 150px;
          margin-left: 50px;
        }
        b{
          margin-left: 50px;
          font-size: 22px;
          font-weight: 700;
          line-height: 1.2;
        }
      }
      .info{
        font-size: 16px;
        font-weight: 400;
        color: var(--grey-blue);
        text-align: left;
        margin-bottom: 40px;
      }
      .btn-close-modal{
        text-align: center;
        display: block;
        margin-top: 30px;
        button{
            background-color: var(--brand-blue);
            padding: 10px 15px;
            width: 150px;
            color: white;
            border: none;
            border-radius: 7px;
            font-size: 16px;
            &:focus {
              outline: none;
          }
        }
      }
    }
  }
}

@media(max-width: 850px){
  

  .modal-covid19{
    margin: 40px !important;
    .modal-content{
      .modal-header{
        h5.modal-title{
          font-size: 20px;
          vertical-align: middle;
        }
        img{
          position: absolute;
          top: 15px;
          left: 20px;
        }
        .close{
          margin-top: 7px;
        }
      }
       .modal-body{
        padding: 0px 20px;
        .banner{
          img{
            width: 100px;
            margin-left: 20px;
          }
          b{
            margin-left: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
          }
        }
      }
    }
  }  
}


@media(max-width: 600px){
  .btn-covid19{
    // width: 100%;
    // padding: 20px;
    // text-align: center;
    width: calc(100% - 100px);
    text-align: left;
    padding: 12px 30px;
    border-radius: 60px;
    bottom: 10px;
    left: 15px;
    img{
      margin-right: 10px;
    }
    span{
      display: inline-block;
    }
    &.smallButton{
      width: auto;
      padding: 13px;
      text-align: center;
      img{
        margin: 0;
      }
      span{
        display: none;
      }
    }
  }
  .modal-covid19{
    margin: 10px !important;
    .modal-content{
      .modal-header{
        h5.modal-title{
          font-size: 16px;
          vertical-align: middle;
          padding-left: 28px;
        }
        img{
          position: absolute;
          top: 20px;
          left: 10px;
          height: 35px;
        }
        .close{
          margin-top: 7px;
        }
      }
       .modal-body{
        padding: 0px 10px;
        .banner{
          margin-bottom: 20px;
          img{
            width: 80px;
          }
        }
        
      }
    }
  }  
}

@media(max-width: 485px){
  .btn-covid19{
    width: auto;
    padding: 13px;
    text-align: center;
      img{
        margin: 0;
        width: 25px;
        height: auto;
      }
      span{
        display: none;
      }
    
  }
 
}

