
@import 'node_modules/react-modal-video/scss/modal-video.scss';


section.video{
  margin-top: 29px;
  height: 666px;
  overflow: hidden;
  position: relative;
  .text{
    width: 100%;
    position: absolute;
    top: 110px;
    text-align: center;
    color: white;
    line-height: 1;
  }
  .text small{
    display: block;
    font-size: 30px;
    font-weight: 500;
  }
  .text span{
    display: block;
    font-size: 68px;
    font-weight: 800;
  }
  .btn-play{
    position: absolute;
    bottom: 185px; 
    width: 100%;
      text-align: center;
    /* left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
  }
  .btn-play .btn{
    width: 96px;
    height: 96px;
    text-align: center;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-blue);
  }

  .icon-play{
    width: 18px;
    height: 23px;
    margin-left: 5px;
  }
}



@media(min-width: 1441px){
  section.video .img-video{
    width: 100%;
    height: auto;
  }
}

@media(max-width: 1440px){
  section.video .img-video{
    display: block;
    width: auto;
    height: 666px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

@media(max-width: 768px){
  section.video .text {
    top: 124px;
}
  section.video .text small{
    font-size: 30px;
  }
  section.video .text span{
    font-size: 48px;
  }

}

.modal-video-body {
  min-width: 80vw;
}