

.lmi-animated{
  .lmi-animation{
    opacity: 0;
  }
  
  /* Navbar */ 
  #lmi-navbar.lmi-show .navbar-brand,
  #lmi-navbar.lmi-show  .navbar-nav{
    opacity: 0;
      animation: topIn .6s ease-out both;
  }
  
  /* header */
  #lmi-header.lmi-show .lmi-img #header-slider{
      animation: zoomIn 1.2s ease-out both;
  }
  
  #lmi-header.lmi-show  .content-caption h1{
    opacity: 0;
      animation: topIn .6s ease-out both;
      animation-delay: .3s;
  }
  
  #lmi-header.lmi-show  .download-app a{
      opacity: 0;
      animation: topIn .6s ease-out both;
      animation-delay: .6s;
  } 
  
  /* carrusel */
  
  #lmi-carrusel.lmi-show .subtitle{
    opacity: 0;
      animation: topIn .6s ease-out both;
      animation-delay: .3s;
  }
  
  #lmi-carrusel.lmi-show .swiper-slide{
    opacity: 0;
      animation: topIn .4s ease-out both;
  }
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(3){
    animation-delay: .4s;
  }
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(4){
    animation-delay: .5s;
  }
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(5){
    animation-delay: .6s;
  }
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(6){
    animation-delay: .7s;
  }
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(7){
    animation-delay: .8s;
  }
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(8){
    animation-delay: .9s;
  } 
  #lmi-carrusel.lmi-show .swiper-slide:nth-child(9){
    animation-delay: 1s;
  } 
  
  @media(max-width: 768px){
    #lmi-carrusel.lmi-show .swiper-slide{
      animation: topIn .3s ease-out both;
      animation-delay: 0s;
    } 
  }
  /* lmi-how-it-works */
   
  #lmi-how-it-works.lmi-show .text.lmi-show{
    opacity: 0;
      animation: topIn .4s ease-out both;
      animation-delay: .0s;
  }
  
  #lmi-how-it-works.lmi-show .btn-play.lmi-show{
    opacity: 0;
      animation: topIn .4s ease-out both;
      animation-delay: .0s;
  }
  
  /* lmi-why */
  
  #lmi-why.lmi-show .subtitle.lmi-show{
    opacity: 0;
      animation: topIn .6s ease-out both;
      animation-delay: .0s;
  }
  
  #lmi-why.lmi-show .text-why.lmi-show{
    opacity: 0;
      animation: topIn .4s ease-out both;
      animation-delay: .0s;
  }
  #lmi-why.lmi-show .cards-why .card.lmi-show{
    opacity: 0;
      animation: leftIn .4s ease-out both;
  }
  
  #lmi-why.lmi-show .cards-why .card:nth-child(1).lmi-show{
      animation-delay: .0s;
  } 
  #lmi-why.lmi-show .cards-why .card:nth-child(2).lmi-show{
      animation-delay: .2s;
  } 
  #lmi-why.lmi-show .cards-why .card:nth-child(3).lmi-show{
      animation-delay: .4s;
  } 
  #lmi-why.lmi-show .cards-why .card:nth-child(4).lmi-show{
      animation-delay: .6s;
  } 
  
  @media(max-width: 768px){
    #lmi-why.lmi-show .cards-why .card.lmi-show{
      animation-delay: 0s;
    } 
  }
  
  /* lmi-map */
  #lmi-map.lmi-show .map-app-download.lmi-show{
    opacity: 0;
      animation: leftIn .4s ease-out both;
      animation-delay: .0s;
  }
  
  @media(max-width: 1024px){
    #lmi-map.lmi-show .map-app-download.lmi-show{
      opacity: 0;
      animation: mediaTopIn .6s ease-out both;
      animation-delay: .0s;
    }
  }
  
  #lmi-map.lmi-show .map-app.lmi-show{
    opacity: 0;
      animation: rightIn .4s ease-out both;
      animation-delay: .0s;
  }
  
  #lmi-map.lmi-show  .parallax .marker img:nth-child(1){
    opacity: 0;
      animation: bottomIn .4s ease-out both;
      animation-delay: .0s;
  }
  #lmi-map.lmi-show  .parallax .marker img:nth-child(2){
    opacity: 0;
      animation: bottomIn .6s ease-out both;
      animation-delay: .3s;
  }
  
  #lmi-map.lmi-show .parallax .marker img:nth-child(3){
    opacity: 0;
      animation: bottomIn .8s ease-out both;
      animation-delay: .2s;
  }
  
  #lmi-map.lmi-show  .parallax .marker img:nth-child(4){
    opacity: 0;
      animation: bottomIn 1s ease-out both;
      animation-delay: .4s;
  }
  
  #lmi-map.lmi-show  .parallax .marker img:nth-child(5){
    opacity: 0;
      animation: bottomIn 1.2s ease-out both;
      animation-delay: .5s;
  }
  
  /* lmi-email */
  #lmi-updates-email.lmi-show p.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
      animation-delay: .0s;
    }
  
    #lmi-updates-email.lmi-show form.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
      animation-delay: .0s;
    }
  
    /* lmi-before-footer */
  #lmi-before-footer.lmi-show .logo.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
      animation-delay: .0s;
    }
  
    #lmi-before-footer.lmi-show .links.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
      animation-delay: .1s;
    }
  
    #lmi-before-footer.lmi-show .external-link.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
      animation-delay: .2s;
    }
  
    /* @media(max-width: 610px){
      #lmi-before-footer.lmi-show .external-link.lmi-show{
        animation-delay: .3s;
      }
    } */
  
    #lmi-before-footer.lmi-show .accordion .card.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
    }
      
    #lmi-before-footer .accordion .card.lmi-show:nth-child(1){
      animation-delay: .1s;
    }
    #lmi-before-footer .accordion .card.lmi-show:nth-child(2){
      animation-delay: .15s;
    }
    #lmi-before-footer .accordion .card.lmi-show:nth-child(3){
      animation-delay: .2s;
    }
  /* lmi-footer */
  #lmi-footer.lmi-show{
      opacity: 0;
      animation: topIn .4s ease-out both; 
    }
  
    /* @media(max-width: 610px){
      #lmi-footer.lmi-show{
        animation-delay: .8s;
      }
    } */
  
  .lmi-show {
    opacity: 1 !important;
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
  } 
  
  
  /* Effects */
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @keyframes topIn {
    from {
          opacity: 0;
          transform: translate3d(0, 30px, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
  
  @keyframes bottomIn {
   
    0%   {
      opacity: 0;
          transform: translate3d(0, -40px, 0);
    }
    50%  { 
      opacity: 1;
      transform: translate3d(0, 8px, 0);}
    75%  { 
      opacity: 1;
      transform: translate3d(0, -2px, 0);}
    100%  {
      opacity: 1;
          transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes mediaTopIn {
   
    0%   {
      opacity: 0;
      left: 50%;
      top: 40%;
          transform: translate3d(-50%,  40px,);
    }
    50%  { 
      opacity: 1;
      left: 50%;
      top: 55%;
      transform: translate(-50%,-55%);
    }
    75%  { 
      opacity: 1;
      left: 50%;
      top: 45%;
      transform: translate(-50%,-45%);}
    100%  {
      
      opacity: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  
  @keyframes leftIn {
    from {
          opacity: 0;
          transform: translate3d(-30px, 0%, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
  
  @keyframes rightIn {
    from {
          opacity: 0;
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
  
  @keyframes zoomIn {
    from {
          opacity: 0;
      transform: scale(1.05);
      }
      to {
          opacity: 1;
      transform: scale(1);
      }
  } 
  /* mobile */
}
