@import url("https://use.typekit.net/pev1sfx.css");
@import "./fontawesome.css";
@import "./animation.scss";

:root {
  --charcoal-grey: #2b3038;
  --light-grey-blue: #a1acb7;
  // --grey-blue: #688192;
  // --light-grey-green: #ccdf9a;
  // --cherry-red: #e60e16;
  // --deep-lavender: #776dae;
  // --faded-green: #6fbd67;
  // --tangerine: #f59300;
  --brand-blue: #038DE2;
  --border-gray: #d0d1d2;

  --dark-grey: #282c3f;
  --info-blue: #008ee9;

}
#root{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
body{
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
  a{
    color: var(--grey-blue)
  }

  input:focus, 
  .btn:focus{
    outline: none !important; 
    box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
  } 
  main {
    section {
       .d-flex{
        align-items: center;
      }
      .subtitle{
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
        color: var(--dark-grey);
        text-transform: uppercase;
      }
      .subtitle span{
        color: var( --brand-blue);
      }
    }
  }
}

.external-link .download-app img{
  height: 32px;
  }
  
  .external-link .download-app{
    justify-content: center;
    margin: 22px 0;
  }
  .external-link .download-app a:first-child {
    margin-right: 15.8px;
  }

  iframe#zEWidget-launcher{
    display: none;
  }
 

  
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em var(--brand-blue);
  }
  40% {
    box-shadow: 0 2.5em 0 0 var(--brand-blue);
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em var(--brand-blue);
  }
  40% {
    box-shadow: 0 2.5em 0 0 var(--brand-blue);
  }
}

/* MAIN */
.content-main{
  margin-left: 176px;
  margin-right: 176px;
}

@media (max-width: 992px){
  .content-main {
      margin-left: 75px;
      margin-right: 75px;
  }
}
@media(max-width: 768px){
  .content-main {
    margin-left: 34px;
      margin-right: 34px;
  }
}


.maxwidth{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}