
  .content-support{
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    section.support{
      margin-top: 65px;       
      display: flex;
      min-height: 380px;
      .wp-categories {
        width: 350px;
        padding: 0 30px;
        top: 0;
        position: sticky !important;
        display: inline-table;
        background: white;
        .cLink{
          display: block;
        }
        .link-cat{
            margin-bottom: 15px;
            display: inline-block;
            color: #688087;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize; 
            text-decoration: none;           
            &.active{
              color: var(--brand-blue);
            }
            &:hover{
              color: var(--charcoal-grey);
            }
        }
        @media(max-width: 610px){
          .link-cat {
            padding: 10px 15px;
            margin-bottom: 0px;
            color: var(--charcoal-grey);
            font-size: 16px;
            &.active{
              border-bottom: 2px solid var(--brand-blue);
              color: var(--brand-blue);
          
            }
            &:first-child{
              padding-left: 30px;
            }
          }
        }
      }
      @media(max-width: 1024px){
        .wp-categories {
          width: 300px;
        }
      }
      @media(max-width: 610px){
        .wp-categories {
          width: 100%;
          display: flex;
          margin-bottom: 15px;
          border-bottom: 1px solid #eded;
          padding: 0px;
          white-space: nowrap;
          overflow: auto;
        }
      }
     
    }
    @media(max-width: 610px){
      section.support {
        display: block;
        min-height: 380px;
        margin-top: 0px;
      }
    }
  
  }
  
  
  .wp-posts{
    width: 100%;
    display: inline-block;
    .wp-post{
      width: 50%;
      display: inline-grid;
      padding-bottom: 50px;
      h4{
        font-size: 16px;
        font-weight: 700;
        color: var(--charcoal-grey);
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      .link-post{
        display: block;    
        padding: 10px 0;
        padding-right: 15px;
        p, ul{
          font-size: 14px;
          font-weight: 400;
          color: var(--grey-blue);
          text-align: justify;
        }
        a{
          font-size: 16px;
          font-weight: 400;
          color: var(--charcoal-grey);
          padding: 10px 0;
          cursor: pointer;
          text-transform: capitalize;
        }
        ul.decimal{
          list-style: decimal;
        }
        ol, ul {
          font-size: 14px;
          font-weight: 400;
          color: var(--grey-blue);
          text-align: justify;
      }
      }
    }
    @media(max-width: 768px){
      .wp-post {
        width: 100%;
        display: block;
      }
    }
    // @media(max-width: 610px){
    //   .wp-post {
    //     padding: 0 30px;
    //     padding-bottom: 50px;
    //   }
    // }
    .wp-render{
      width: 70%;
      display: inline-grid;
      padding-bottom: 50px;
      line-height: 2;
      .breadcrumbs{
        margin-bottom: 15px;
        .tagName{
          display: inline;
          span{
            font-size: .7rem;
            color: var(--grey-blue);
            text-transform: uppercase;
            font-weight: 300;
            padding: 0px 5px;
        
          }
          &:first-child span{
            padding-left: 0;
          }
        }
        
      }
      h1{
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      h2, h3, h4, h5, h6{
        font-size: 16px;
        font-weight: 600; 
        text-transform: uppercase;
      }
      p{
        font-size: 16px;
        color: var(--grey-blue);
        font-weight: 400;
        // margin-bottom: 40px;
      }
      ul, ol{
        font-size: 16px;
        color: var(--grey-blue);
        padding-left: 18px;
        font-weight: 400;
        // margin-bottom: 40px;
      }
      a{
        color: var(--brand-blue);
        font-weight: 400;
        cursor: pointer;
      }
    }
    @media(max-width: 610px){
        .wp-render{
          width: 100%;
          p, ul, ol, a{
            font-size: 16px;
          }
          .breadcrumbs .tagName a{
            font-size: .7rem;
          }
        }
  
    }
    .list-title{
      width: 30%;
      display: inline-grid;
      padding-bottom: 50px;
      list-style: none;
      padding-left: 0;
      .ita{
        font-size: 1rem;
        font-weight: 500; 
        text-transform: uppercase;
      }
      a, h4{
        font-size: .9rem;
        color: var(--grey-blue);
      }
    }
  }
  
  @media(max-width: 610px){
    .wp-posts {
      padding: 0px 30px;
      margin-bottom: 0px;
      margin-top: 30px;
      // h4{
      //   padding-top: 55px;
      // }
    }
    
   
  }

