
footer{
  // display: flex;
  justify-content: space-between;
  padding: 34px;
  color: var(--grey-blue);
  border-top: 1px solid rgba(104, 129, 146, 0.23);
  background-color: white;
  // .links{
  //   display: flex;
  // }
  p{
    margin: 0px;
  }
}
@media(max-width: 768px){
  footer{
    flex-direction: column;
    padding-top: 15px; 
    padding-left: 0px;
    padding-right: 0px;
    p{
      padding-left: 33px;
      padding-right: 33px;
      margin-bottom: 0px;
      text-align: center;
      span{
        display: block;
      }
    }
    .links{
      padding: 24px 33px;
      text-align: center;
      display: block;
    }
  }
}
