
section.carrusel{
  padding-top: 29px;
  
  .btn-carrusel .btn{
    width: 38px;
    height: 38px;
    border-radius: 22.5px;
    border: solid 1.5px var(--border-gray);
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:first-child{
      margin-right: 4px;
    }

    .icon-left{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid var(--brand-blue);
    }
    .icon-right{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid var(--brand-blue);
    }
  }
  .swiper-container{
    margin-top: 18px;
  }
  
  .swiper-slide-active{
    z-index: 1;
  }

  .card{
    min-width: 270px;
    max-width: 270px;
    height: auto;
    border-radius: 4px;
    border: solid 1px var(--border-gray);
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 3px 3px 7px 1px rgba(104, 129, 146, 0.4);
    margin-bottom: 10px;
    cursor: pointer;
    // &:hover{
    //   box-shadow: 0 13px 18px 0 rgba(104, 129, 146, 0.09);
    // }
    .card-img{
      // position: relative;
      // border-radius: 3px 3px 0 0;
      // height: 238px;
      // overflow: hidden;
      width: 100%;
      height: 183px;
      overflow: hidden;
      position: relative;
      // border-radius: 4px;
      // border: 1px solid rgba(104,129,146,.12);
      border-radius: 0px;
      img{
        position:absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        width: 112%;
      }
    }
    .card-tag{
      position: absolute;
      top: 10px;
      left: 12px;
    
      width: 45.8px;
      height: 22.3px;
      padding: 2px;
      border-radius: 2px;
      background-color: #6fbd67;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }
    .card-price{
      position: absolute;
      bottom: 32px;
      right: 32px;
      padding: 5px 13px;
      border-radius: 20.1px;
      background-color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      color: var(--charcoal-grey);
      text-align: center;
    }
    .card-name{
      // font-size: 19px;
      // font-weight: 600;
      // color: var(--charcoal-grey);
      // margin: 0px 21.5px;
      // margin-top: 25px;
      // margin-bottom: 20px;
      // line-height: 1;
      font-size: 18px;
      font-weight: 700;
      color: var(--charcoal-grey);
      margin: 10px;
      line-height: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-locate{
      font-size: 16px;
      font-weight: 600;
      color: var(--brand-blue);
      margin: 0px 21.5px;
      margin-bottom: 14px;
      line-height: 1;
      img{
        margin-right: 10px;
        width: 15px;
        height: 19px;
        margin-top: -4px;
       }
    }
    .card-info{
      display: flex;
      align-items: center;

      margin: 0 10px;
      span{
        &:first-child{
          font-size: 14px;
          font-weight: 300;
          color: var(--grey-blue);
        }
        &:last-child{
          padding: 5px 10px;
          border-radius: 20px;
          background-color: var(--brand-blue);
          font-size: 10px;
          font-weight: 600;
          color: white;
          margin-left: auto;
        }
      }
    }
    hr{
      border-color: var(--border-gray);
      width: calc(100% - 20px);
      align-self: center;
    }
    .card-description{
      font-size: 14px;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--grey-blue);
    margin: 0 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    font-weight: 300;
    }
  }
  
} 


@media(max-width: 768px){
  .btn-carrusel{
    display: none;
  }
  main section .subtitle {
    font-size: 16px;
  }
  section.carrusel {
    padding-top: 28px;
  }
  section.carrusel .swiper-container-items {
    margin-top: 22px;
}
}

@media(max-width: 350px){
  section.carrusel .card{
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

