
/* search-support */

.search-howto{
  position: relative;
  .bg-search-support{
    height: 479px;
    overflow: hidden;
    position: relative;
    @media(min-width: 1441px){
      img{
          width: 100%;
        }
      }
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    object-fit: contain;
    min-height: 479px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .info-search-support{
    position: absolute;
      left: 0;
      top: 168px;
      width: 100%;
      .content-search-support{
        max-width: 488px;
        margin-left: auto;
        margin-right: auto;
        // padding: 0px 53px;
        h1{
          text-transform: uppercase;
          font-weight: 600;
          color: #ffffff;
          font-size: 30px;
          margin-bottom: 30px;
        }

        p{
          font-size: 17px;
          font-weight: 400;
          color: #ffffff;
          margin-bottom: 18px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: normal;
          color: #ffffff;
        }
        .icon-input{
          position: relative;
          z-index: 23;
          ::placeholder {
            color: var(--grey-blue) !important;
            font-size: 15px;
            font-weight: 400;
          }
          svg{
            position: absolute;
            color: var(--grey-blue) !important;
            left: 13px;
            top: 13px;
          }
          input{
            width: 100%;
            height: 45px;
            border-radius: 10px;
            padding: 10px 25px;
            padding-left: 40px;
            // margin-right: 21px;
            border: 0;
            &.results{
              border-radius: 10px 10px 0px 0px!important;
            }
            &:focus{
              box-shadow: none;
            }
          }
          input::placeholder {
            color: var(--charcoal-grey);
          }
          input:-ms-input-placeholder {
            color: var(--charcoal-grey);
          }
          input::-ms-input-placeholder {
            color: var(--charcoal-grey);
          }
        
        }
      

        button{
          height: 70px;
          width: 159px;
          border-radius: 35px;
          box-shadow: 0 13px 18px 0 rgba(104, 129, 146, 0.09);
          border: solid 2px #ffffff;
          font-size: 18px;
          font-weight: bold;
        
        }
        .mce-responses {
          color: white;
          padding: 10px;
          text-align: center;
          font-weight: 400;
          a{
            color: var(--brand-blue);
            display: block;
          }
        }


        .suggestions{
          background-color: white;
          border: 1px solid #ededed;
          border-radius: 0 0 10px 10px;
          z-index: 24;
          position: relative; 
          overflow: hidden;
          .item{
            padding: 10px 25px;
            cursor: pointer;
            border-bottom: 1px #ededed solid;
            &:last-child{
              border-bottom: none;
            }
            &:hover{
              background-color: #e4e9ed;
            }
            .title{ 
              color: var(--brand-blue);
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 5px;
              display: block;
              text-transform: capitalize;
            }
            .info{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          
        }

        // .hideSuggestions{
        //   display: none;
        // }
        .overlaySuggestions{
          width: 100%;
          height: 100vh;
          background: transparent;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 22;
          // &.hideOverlay{
          //   display: none;
          // }
      }


      }
  }




@media(max-width: 768px){
    margin-top: 0px;
    position: relative;
}

@media(max-width: 550px){
  .search-support-form{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    .content-search-support input{
      width: 100%;
      margin-right: 0px;
      margin-bottom: 22px;
    } 
  }
 
  // .overlay{
  //   display: block;
  // }

  .bg-search-support img{
    display: block;
    width: auto;
    position: absolute;
    left: 60%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 480px;
  }

  .content-search-support{
    padding: 0px 33px;
    .d-flex{
      flex-direction: column;
    }
  }
}
} 
