
/* search-support */

.search-location{

      .content-search-location{
        max-width: 488px;
        margin-left: auto;
        margin-right: auto;
        // padding: 0px 53px;

    
        .icon-input{
          position: relative;
          z-index: 23;
          ::placeholder {
            color: var(--grey-blue) !important;
            font-size: 15px;
            font-weight: 400;
          }
          svg{
            position: absolute;
            color: var(--grey-blue) !important;
            left: 13px;
            top: 13px;
          }
          input{
            width: 100%;
            height: 45px;
            border-radius: 10px;
            padding: 10px 25px;
            padding-left: 40px;
            // margin-right: 21px;
            border: 0;
            background: #e8e9e9;
            &.results{
              border-radius: 10px 10px 0px 0px!important;
            }
            &:focus{
              box-shadow: none;
            }
          }
          input::placeholder {
            color: var(--charcoal-grey);
          }
          input:-ms-input-placeholder {
            color: var(--charcoal-grey);
          }
          input::-ms-input-placeholder {
            color: var(--charcoal-grey);
          }
        
        }
      

        button{
          height: 70px;
          width: 159px;
          border-radius: 35px;
          box-shadow: 0 13px 18px 0 rgba(104, 129, 146, 0.09);
          border: solid 2px #ffffff;
          font-size: 18px;
          font-weight: bold;
        
        }
        .mce-responses {
          color: white;
          padding: 10px;
          text-align: center;
          font-weight: 400;
          a{
            color: var(--tealish);
            display: block;
          }
        }
      }



@media(max-width: 768px){
    margin-top: 0px;
    position: relative;
}

@media(max-width: 550px){
  .search-location-form{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    .content-search-location input{
      width: 100%;
      margin-right: 0px;
      margin-bottom: 22px;
    } 
  }
 
  // .overlay{
  //   display: block;
  // }

  .bg-search-location img{
    display: block;
    width: auto;
    position: absolute;
    left: 60%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 480px;
  }

  .content-search-location{
    padding: 0px 33px;
    .d-flex{
      flex-direction: column;
    }
  }
}
} 

.pac-container {
  z-index: 1051 !important;
  border-radius: 10px;
  top: 60px;
  .pac-item{
    padding: 10px 25px;
    cursor: pointer;
    // border: 1px #ededed solid;
  }
}
.pac-logo::after{
  display: none;
}