
/* MAP */
section.map{
  margin-top: 44px;
  position: relative;
  .map-img{
    height: 671px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .parallax {
    height: 671px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      position: absolute;
    }
    .marker{
      position: relative;
      img{
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 100%;
        border: 2px solid #fff;
        box-shadow: -1px 5px 10px 0 rgba(104, 129, 143, 0.5);
  
        &:nth-child(1){
          top: 250px;
          left: 150px;
        }
        &:nth-child(2){
          top: 150px;
        left: 550px;
        }
        &:nth-child(3){
          top: 285px;
          right: 110px;
        }
        &:nth-child(4){
          top: 650px;
          left: 100px;
        }
        &:nth-child(5){
          top: 650px;
          left: 50%;
        }
      }
    }
  }
  .map-app-download {
    position: absolute;
    top: 218px;
    left: 230px;
    width: 476px;
    padding: 46px;
    box-shadow: 0 33px 38px 0 rgba(104, 129, 146, 0.36);
    background-color: var(--brand-blue);
    .text{
      width: 295px;
      font-size: 35px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -1.46px;
      color: #ffffff;
    }
  }
  .map-app{
    width: 338px;
    position: absolute;
    bottom: 0px;
    right: 235px;
    height: calc(100% - 85px);
    overflow: hidden;
    img{
      width: 100%
    }
  }
  @media(max-width: 1492px){
    .parallax img{
      width: auto !important;
      height: 1040px;
    }
  }
  @media(max-width: 1292px){
    .map-app{
       right: 80px;
     }
    .map-app-download {
       left: 80px;
    }
   }
   @media(max-width: 1024px){
    .map-app{
      display: none;
    }
    .map-app-download {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }

  @media(max-width: 476px){
    margin-top: 59px;
    .map-app-download {
      width: calc(100% - 60px);
      padding-left: 51px;
      padding-top: 49px;
      padding-right: 45px;
      padding-bottom: 48.3px;
      .text{
        width: 100%;
        font-size: 29px;
      }
    }
    .parallax {
      height: 576px;
    }

    .download-app {
        display: block;
        padding-right: 9.7px;
        a {
          width: 100%;
          display: block;
          img {
            height: auto;
            width: 100%;
          }
        }
        a:first-child img{
          margin-bottom: 14.3px;
      }
    }

  }

}








